<script src="/js/calendar-checker.js"></script>
<script src="/js/admin-insert.js"></script>
    
<script src="http://code.jquery.com/jquery.min.js"></script>


<!-- https://partner.booking.naver.com/booking-list-view -->

<div id="wrap">
        <div class="reserve-content" id="content">
          
            <fieldset class="id_form" id="midside_panel">
              <div class="" id="midside_panel_inner">


                  <!-- <iframe id="naver-iframe" src="/space/1"></iframe> -->

               
	<h2>유형</h2>
	<div class="switch-field">
      <input type="radio" id="radio-naver" name="from" value="naver" checked/>
      <label for="radio-naver">네이버</label>
      <input type="radio" id="radio-space" name="from" value="space" />
      <label for="radio-space">스클</label>
      <input type="radio" id="radio-text" name="from" value="text" >
      <label for="radio-text">문자</label>
</div>

<textarea id="request_text" cols="60" rows="20" style="background-color: aliceblue"
></textarea> 
<br>

<% if(session && session.user && session.user.grade == "admin") { %> 
<% } %> 

<button onclick="request_reserve_admin();"  style=" background-color:yellow; color: black; height: 40px; width: 200px">
    <span style="font-size: 20px">
    입력하기</span>
  </button>

            </fieldset>
        </div>

        <!-- <input type="file" id="myFile" name="filename" style="background-color: blanchedalmond"> -->
        <!-- //container -->
        <!-- footer -->
        </div>
    
<!-- 
           <br>
                  네이버예약:<br>
                <iframe id="naver-iframe" width="1000px" height="400px" src="https://partner.booking.naver.com/booking-list-view" ></iframe>
                <br><br>
                스페이스클라우드:<br>
                <iframe id="spacecloud-iframe" width="1000px" height="400px" src="https://partner.spacecloud.kr/reservation?RSV_STAT_CD=RSCMP&page=1" ></iframe>
                 -->
