<div>
  <a href="/space/1"
    ><span
      style="
        font-size: 30;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      "
    >
      뒤로가기</span
    > </a
  ><br /><br />
</div>

<div>
  <iframe
  width="100%"
  height="1150px"
  frameborder="0"
  scrolling="no"
  src="https://www.google.com/calendar/embed?color=%237bd148&amp;ctz=Asia/Seoul&amp;deb=-&amp;embed_style=WyJhdDplbWI6c3QiLCIjZTBlMGUwIiwiI2VkZWRlZCIsIiM0MTg0ZjMiLCJyb2JvdG8iLCIjNjM2MzYzIiw1MDAsIiNmZmYiXQo&amp;eopt=0&amp;mode=week&amp;showCalendars=1&amp;showPrint=0&amp;showTz=0&amp;src=<%=data.cid%>"
  allowfullscreen
></iframe>

  <!-- embed?src=2losj7uf7v1nqvrgos17jmbfgs@group.calendar.google.com&ctz=Asia/Seoul -->
<!-- 
  <iframe
    width="100%"
    height="1150px"
    frameborder="0"
    scrolling="no"
    src="https://www.google.com/calendar/embed?color=%237bd148&amp;deb=-&amp;embed_style=WyJhdDplbWI6c3QiLCIjZTBlMGUwIiwiI2VkZWRlZCIsIiM0MTg0ZjMiLCJyb2JvdG8iLCIjNjM2MzYzIiw1MDAsIiNmZmYiXQo&amp;eopt=0&amp;mode=week&amp;showCalendars=1&amp;showPrint=0&amp;showTz=0&amp;src=<%=data.cid%>"
    allowfullscreen
  ></iframe>
   -->
</div>
<div>
  <a href="/space/1"
    ><span
      style="
        font-size: 30;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      "
    >
      뒤로가기</span
    > </a
  ><br /><br />
</div>
