<div class="User-area">
  <div class="User-avtar">
    <img src="/images/userprofile-ico.png" />
  </div>
  <ul class="User-Dropdown U-open">
    <li><a href="#">My Profile</a></li>
    <li><a href="#">Notifications</a><span>40</span></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</div>

<script src="/js/profile.js"></script>
