<script src="../js/calendar-checker.js"></script>
    
<script src="http://code.jquery.com/jquery.min.js"></script>


<div id="wrap">
      
      
        <div class="reserve-content" id="content">
          
            <fieldset class="id_form" id="midside_panel">
              <div class="" id="midside_panel_inner">


              <span style="color: red; font-size: 15px" >
                  -[필수사항] 선택후 가격계산&가능확인 을 누르세요 -
                </span>
                <div>
                 공간: [논현]
                  <input type="radio" name="stype" value="NY" onclick="src_selector();" />NY
                  <input type="radio" name="stype" value="NA" onclick="src_selector();"/>NA
                  <input type="radio" name="stype" value="NB" onclick="src_selector();" />NB
                  
          
          <button onclick="go_cafe_nonhyun();" style="color: black;">
            논현점 사진
          </button>
                </div>

                <div>
                  <input type="radio" name="stype" value="NX" onclick="src_selector();" />NX
                  <input type="radio" name="stype" value="ND" onclick="src_selector();" />ND
                  <input type="radio" name="stype" value="NM" onclick="src_selector();" />NM
                  <input type="radio" name="stype" value="NP" onclick="src_selector();" />NP
                  <input type="radio" name="stype" value="NV" checked/>NV
                </div>

                <div>
                  공간: [홍대]
                  <input type="radio" name="stype" value="HR" onclick="src_selector();" />HR
                  <input type="radio" name="stype" value="HA" onclick="src_selector();" />HA
                  <input type="radio" name="stype" value="HS" onclick="src_selector();" />HS

                  <button onclick="go_cafe_nonhyun();" style="color: black;">
                    홍대점 사진
                  </button>
                </div>
                <div>
                  <input type="radio" name="stype" value="HX" onclick="src_selector();" />HX
                  <input type="radio" name="stype" value="HD" onclick="src_selector();" />HD
                  <input type="radio" name="stype" value="HM" onclick="src_selector();" />HM
                  <input type="radio" name="stype" value="HP" onclick="src_selector();" />HP
                  <input type="radio" name="stype" value="HV" onclick="src_selector();" />HV
                </div>

                <div>  <img id="main_image" src="/images/nv.jpg" alt="your image" width="350" /> </div>

                <div class="select_date">
                  날짜:
                  <select
                    id="yy_sw"
                    name="yy_sw"
                    title="yy"
                    class="sel"
                  >
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                  </select>
                  <select
                    id="mm_sw"
                    name="mm_sw"
                    title="mm"
                    class="sel"
                  >
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>


                  <select
                    id="dd_sw"
                    name="dd_sw"
                    title="dd"
                    class="sel"
                  >
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="01">01</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                </div>

                <div class="select_date">
                  시간:

                  <select
                    id="hh_sw"
                    name="hh_sw"
                    title="hh"
                    class="sel"
                  >
                    <option value="00">오전 00시</option>
                    <option value="01">오전 01시</option>
                    <option value="02">오전 02시</option>
                    <option value="03">오전 03시</option>
                    <option value="04">오전 04시</option>
                    <option value="05">오전 05시</option>
                    <option value="06">오전 06시</option>
                    <option value="07">오전 07시</option>
                    <option value="08">오전 08시</option>
                    <option value="09">오전 09시</option>
                    <option value="10">오전 10시</option>
                    <option value="11">오전 11시</option>
                    <option value="12">오후 12시</option>
                    <option value="13">오후 13시</option>
                    <option value="14">오후 14시</option>
                    <option value="15">오후 15시</option>
                    <option value="16">오후 16시</option>
                    <option value="17">오후 17시</option>
                    <option value="18">오후 18시</option>
                    <option value="19">오후 19시</option>
                    <option value="20">오후 20시</option>
                    <option value="21">오후 21시</option>
                    <option value="22">오후 22시</option>
                    <option value="23">오후 23시</option>
                  </select>

                  <select
                    id="mi_sw"
                    name="mi_sw"
                    title="mi"
                    class="sel"
                  >
                    <option value="00">00분</option>
                    <option value="30">30분</option>
                  </select>
                </div>

                <div class="select_dm">
                  사용분:
                  <select
                    id="dm_sw"
                    name="dm_sw"
                    title="dm"
                    class="sel"
                  >
                    <option value="30">30분</option>
                    <option value="60" selected>1시간00분</option>
                    <option value="90">1시간30분</option>
                    <option value="120">2시간00분</option>
                    <option value="150">2시간30분</option>
                    <option value="180">3시간00분</option>
                    <!-- <option value="210">3시간30분</option> -->
                    <option value="240">4시간00분</option>
                    <!-- <option value="270">4시간30분</option> -->
                    <option value="300">5시간00분</option>
                    <!-- <option value="330">5시간30분</option> -->
                    <option value="360">6시간00분</option>
                    <!-- <option value="390">6시간30분</option> -->
                    <!-- <option value="420">7시간00분</option> -->
                    <!-- <option value="450">7시간30분</option> -->
                    <option value="480">8시간00분</option>
                    <!-- <option value="510">8시간30분</option> -->
                    <!-- <option value="540">9시간00분</option> -->
                    <!-- <option value="570">9시간30분</option> -->
                    <option value="600">10시간00분</option>
                    <option value="720">12시간00분</option>
                  </select>
                </div>
              


              <br>
              <span style="color: red; font-size: 15px" >
              -여기 부터는 무관한 분들은 그대로 두셔도 됩니다.-
            </span>


            <div>
                [옵션] 블루투스스피커:
                <select
                  id="bl_sw"
                  name="bl_sw"
                  title="bl"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>

                스피커:
                <select
                  id="sp_sw"
                  name="sp_sw"
                  title="sp"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
              <div>
                헤드폰:
                <select
                  id="he_sw"
                  name="he_sw"
                  title="he"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>

                오디오인터페이스:
                <select
                  id="au_sw"
                  name="au_sw"
                  title="au"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <div>
                마이크:
                <select
                  id="mc_sw"
                  name="mc_sw"
                  title="mc"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                마이크스탠드:
                <select
                  id="st_sw"
                  name="st_sw"
                  title="st"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <div>
                큐브앰프:
                <select
                  id="cu_sw"
                  name="cu_sw"
                  title="cu"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>

                SD앰프:
                <select
                  id="sd_sw"
                  name="sd_sw"
                  title="sd"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
                보면대:
                <select
                  id="bo_sw"
                  name="bo_sw"
                  title="bo"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </div>
              <div>
                통기타:
                <select
                  id="gi_sw"
                  name="gi_sw"
                  title="gi"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>

                  <option value="3">3</option>
                </select>

                일렉기타:
                <select
                  id="el_sw"
                  name="el_sw"
                  title="el"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                
                  스틱:
                  <select
                    id="ds_sw"
                    name="ds_sw"
                    title="ds"
                    class="sel"
                  >
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                </div>
                <div>
                  
              </div>
              <div>
                의자:
                <select
                  id="ch_sw"
                  name="ch_sw"
                  title="ch"
                  class="sel"
                >
                  <!-- <option value="0">0</option> -->
                  <option value="0">1</option> 
                  <option value="0">2</option>
                  <option value="1">3</option>
                  <option value="2">4</option>
                  <option value="3">5</option>
                  <option value="4">6</option>
                  <option value="5">7</option>
                  <option value="6">8</option>
                  <option value="8">10</option>
                  <option value="10">12</option>
                  <option value="12">14</option>
                  <option value="14">16</option>
                  <option value="16">18</option>
                </select>
                테이블:
                <select
                  id="ta_sw"
                  name="ta_sw"
                  title="ta"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                요가매트:
                <select
                  id="yo_sw"
                  name="yo_sw"
                  title="yo"
                  class="sel"
                >
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
            </div>
            <div>
              88건반:
              <select
                id="dp_sw"
                name="dp_sw"
                title="dp"
                class="sel"
              >
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
              전자키보드:
              <select
                id="dk_sw"
                name="dk_sw"
                title="dk"
                class="sel"
              >
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
             
              
            <div>
              휴대폰삼각대:
              <select
                id="hs_sw"
                name="hs_sw"
                title="dp"
                class="sel"
              >
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
              <button onclick="go_cafe_option();" style="color: black;">
                  옵션에 대해 자세히
                </button>
          </div>

          <br>
              <div class="input_row" id="rtype_area">
                  유형:
                  <input type="radio" name="rtype" value="rent" checked />대여
                  <input type="radio" name="rtype" value="pass" />자율
                  <input type="radio" name="rtype" value="visit" />현장
                  
                  <input type="radio" name="rtype" value="vip" />VIP
                  <!-- <input type="radio" name="rtype" value="admin" />관리자
                  
                  <input type="radio" name="rtype" value="vip" />강사
                   -->
                </div>
  
                <div>
  
                    패키지할인:
                    <select id="pkg" name="pkg" >
                        <option value="no">없음</option>
                        <option value="mo">새벽 1시~7시</option>
                        <option value="am">오전 7시~12시</option>
                        <option value="da">낮 12시~16시</option>
                        <option value="pm">오후 16시~19시</option>
                        <option value="di">저녁 19시~22시</option>
                        <option value="ni">밤22시~01시</option>
                        <option value="up4">4시간이상</option>
                        <option value="up10">10시간이상</option>
                        <option value="nu">신규전용이벤트</option>
                    </select> <span style="font-size: 10px;">가격계산시 자동적용됩니다</span>
                    
                  </div>
                  
                  <div class="select_rn"  >
                      방번호:
                      <select
                        id="rn_sw"
                        name="rn_sw"
                        title="rn"
                        class="sel"
                      >
                        <option value="0">배정되지 않았다면 1번부터 순서대로 빈방을 사용하세요</option>

                        <!-- <option value="1">1</option>                      
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option> -->

                      </select>
                      </div>
      

            
                        <div class="input_row" id="username_area">
                            이름: <input type="text" id="username" name="username"
                            placeholder="이름" class="int" maxlength="41" value="" /><span style="font-size: 10px;"> 로그인하면 자동입력됩니다.</span>
                          </div>
            
                          <div class="input_row" id="mobile_area">
                            휴대전화: <input type="text" id="mobile" name="mobile"
                            placeholder="010-0000-0000" class="int" maxlength="41"
                            value="" />
                          </div>
            
                          <br>
                          <div class="input_row" id="price_area">
                            가격: <input type="text" id="price" name="price"
                            placeholder="가격계산을 누르세요"  maxlength="41"
                            value="" />
                          </div>


              
                      <div class="input_row" id="possible_area">
                          가능확인: <input type="text" id="possible" name="possible"
                          placeholder="-OK가 나오면 예약가능-" maxlength="41"
                          value="" />
                        </div>
          

            </fieldset>
          
            <div>


        <div class="reserve-content" id="content">
          
            <div>
            
                <button onclick="check_possible();" style="background-color:yellow; color: black; height: 40px; width: 400px;">
                  <span style="font-size: 30px">1. 가격계산 & 가능확인</span>
                </button>
      
                
              </div>
              <span style="font-size: 14px;"> 
            예약자는 변경&환불규정에 동의한것으로 간주됩니다.<br>예약내용 확인후 신중하게 이체해주세요. </span>
            <button onclick="check_refund_policy();" style="color: black; ">
              변경&환불규정
            </button><br>
          <div>
              <textarea id="account_number" cols="34"  
              >하나은행 134-910094-25407 이효원</textarea> 
              <button onclick="copy_account_to_clipboard();" style="color: black;">
                계좌번호복사
              </button>
          </div>
  
          
          <div>
              <textarea id="request_text" cols="34" rows="17"
              ></textarea> 
              <button onclick="copy_request_to_clipboard();" style="background-color:yellow; color: black; height: 30px">
                <span style="font-size: 20px">2. 예약요청복사</span>
                
              </button>
  
          </div>
          <div>
            [가격계산 & 가능확인]을 했을때 [OK]가 되면 <br> 예약요청이 만들어집니다. <br>
            예약요청을 복사해서 카톡으로 전송하고<br> 이체내역 캡쳐를 보내주세요 ->
              <button onclick="send_kakao();"  style=" background-color:yellow; color: black; height: 30px">
                  <span style="font-size: 20px">
                  3. 카톡열기</span>
                </button>
                
          </div>


          <div>
              <span style="font-size: 14px;"> 
               예약이 정상적으로 처리되지 않았을때 연락을 드립니다. <br> 응답이 없거나 예약현황에 나오지 않아도 예약된것입니다.<br></span>
                <button onclick="request_reserve();"  style=" background-color:yellow; color: black; height: 30px">
                    <span style="font-size: 20px">
                    4. 예약등록하기</span>
                  </button>
                  
            </div>

          <!-- <div>   
            <button  onclick="request_reserve();" style="color: black;">
                예약요청
              </button>
          </div> -->
          <!-- //content -->
        </div>
        <!-- //container -->
        <!-- footer -->

        </div>
    
    <script>

    init_date();
    </script>

    <% if(session && session.user && session.user.username) { %> 
        <script>
        document.querySelector('input[name="username"]').value = "<%=session.user.username%>";
        document.querySelector('input[name="mobile"]').value = "<%=session.user.mobile%>";

    </script>

    <% } %> 