<script src="/js/calendar-checker.js"></script>
    
<script src="http://code.jquery.com/jquery.min.js"></script>

<div>
  <a href="/space/1">
      <span
          style="
font-size: 30;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
">
          뒤로가기</span >
  </a >
</div>


<div id="wrap">
        <div class="reserve-content" id="content">
            <span style="font-size: 14px;"> 
                <br>
                <br>
                1.금액을 이체하신 후 이체완료사진을 캡쳐하고 <br>
                2.예약요청을 복사하거나 지금 이 화면을 캡쳐해서 <br>
                [카톡열기]를 해서 1. 2.를 모두 전송해주세요<br>
                <br>
              <!-- <span style="font-size: 14px;"> 
            예약자는 변경&환불규정에 동의한것으로 간주됩니다.<br>예약내용 확인후 신중하게 이체해주세요. </span>
            <button onclick="check_refund_policy();" style="background-color: antiquewhite; color: black; ">
              변경&환불규정
            </button><br> -->
          <div>
              <textarea onclick="copy_account_to_clipboard();" id="account_number" cols="34" style="background-color: aliceblue" 
              >하나은행 134-910094-25407 이효원</textarea> 

              <br>
              <span style="font-size: 14px">변경&환불규정을 읽었으며 동의하였습니다. </span> 
              <br>
              
          </div>

          
          <div>
              <textarea  onclick="copy_to_clipboard();" id="request_text" cols="34" rows="17" style="background-color: aliceblue" 
              ><%=reserve.rtext %>  </textarea> 
              <!-- <button onclick="copy_request_to_clipboard();" style="background-color:yellow; color: black; height: 30px">
                <span style="font-size: 20px">2. 예약요청복사</span>
                
              </button> -->
  
          </div>


       
          <input type="hidden" id="rid" name="rid" value="<%=reserve._id%>" >

          <div>

            <span style="font-size: 14px;"> 

              <br>
            
               </span>

              <button onclick="send_kakao();"  style=" background-color:yellow; color: black; height: 30px; width: 200px ;">
                  <span style="font-size: 20px">
                  카톡열기</span>
                </button>
                
          </div>


          <div>
              <span style="font-size: 12px;"> 
                <br>
                카톡에서 없어도 캡쳐 사진을 보냈다면 예약된것입니다.<br>
               <br>
               
              </span>
                  
            </div>

          <!-- <div>   
            <button  onclick="request_reserve();" style="color: black;">
                예약요청
              </button>
          </div> -->
          <!-- //content -->
        </div>
        <!-- //container -->
        <!-- footer -->

        </div>
    
    <script>



    </script>
