<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="[원비트: 로그인]" />
    <meta
      property="og:description"
      content="안전한 로그인을 위해 주소창의 URL과 자물쇠 마크를 확인하세요!"
    />
    <meta property="og:image" content="/images/onebeat_ci_black.png" />
    <meta property="og:image:type" content="/images/onebeat_ci_black.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <title>원비트 : 로그아웃</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
  </head>
  <body>
    <% if(session && session.user && session.user.username){ %>
    <script>
      alert("환영합니다. <%=session.user.username%> 님!");
      window.location.href = "/space/1";
    </script>
    <% } else { %>
    <script>
      window.location.href = "/space/1";
    </script>
    <% } %>
    <div class="u_skip"><a href="#content">본문 바로가기</a></div>
    <div id="wrap">
      <!-- header -->
      <div id="header">
        <h1>
          <a href="http://onebeat.kr" class="sp h_logo"
            ><span class="blind">NAVER</span></a
          >
        </h1>
        <div class="lang">
          <select
            id="locale_switch"
            name="locale_switch"
            title="언어선택"
            class="sel"
          >
            <option value="ko_KR">한국어</option>
            <option value="en_US">English</option>
            <option value="zh-Hans_CN">中文(简体)</option>
            <option value="zh-Hant_TW">中文(台灣)</option>
          </select>
        </div>
      </div>
      <div id="container">
        <div id="content">
          <form
            id="frmNIDLogin"
            name="frmNIDLogin"
            target="_top"
            autocomplete="off"
            action="/login"
            method="POST"
          >
            <input
              type="hidden"
              id="localechange"
              name="localechange"
              value=""
            />
            <input
              type="hidden"
              name="appSchemeView"
              id="appSchemeView"
              value="true"
            />
            <input type="hidden" name="encpw" id="encpw" value="" />
            <input type="hidden" name="enctp" id="enctp" value="1" />
            <input type="hidden" name="svctype" id="svctype" value="262144" />
            <input
              type="hidden"
              name="smart_LEVEL"
              id="smart_LEVEL"
              value="-1"
            />
            <input type="hidden" name="bvsd" id="bvsd" value="" />
            <input type="hidden" name="encnm" id="encnm" value="" />
            <input type="hidden" name="locale" id="locale" value="ko_KR" />
            <input
              type="hidden"
              name="url"
              id="url"
              value="https://onebeat.kr"
            />

            <fieldset class="id_form" id="midside_panel">
              <div class="" id="midside_panel_inner">
                <div class="top_readcopy" id="init_info">
                  아이디와 비밀번호<br />입력을 통해 로그인 해주세요.
                </div>
                <!-- <div
                  class="top_readcopy"
                  id="error_info"
                  style="display: none;"
                >
                  네이버 앱 로그인을 사용할 수 없습니다.<br /><b
                    >아이디와 비밀번호를 직접 입력해주세요.</b
                  >
                </div> -->
                <div class="input_row" id="id_area">
                  <span class="input_box">
                    <label
                      for="id"
                      id="label_id_area"
                      class="lbl"
                      style="display: none;"
                      >아이디</label
                    >
                    <input
                      type="text"
                      id="id"
                      name="id"
                      aria-describedby="err_empty_id"
                      accesskey="L"
                      placeholder="아이디"
                      class="int"
                      maxlength="41"
                      value=""
                    />
                  </span>
                  <button
                    type="button"
                    disabled=""
                    title="delete"
                    id="id_clear"
                    class="wrg"
                    style="display: block;"
                  >
                    <span class="blind">삭제</span>
                  </button>
                </div>
                <div
                  id="err_empty_id"
                  class="error"
                  role="alert"
                  style="display: none;"
                >
                  아이디를 입력해주세요.
                </div>

                <div class="input_row" id="pw_area">
                  <span class="input_box">
                    <label
                      for="pw"
                      id="label_pw_area"
                      class="lbl"
                      style="display: none;"
                      >비밀번호</label
                    >
                    <input
                      type="password"
                      id="pw"
                      name="pw"
                      aria-describedby="err_empty_pw"
                      placeholder="비밀번호"
                      class="int"
                      maxlength="16"
                    />
                  </span>
                  <button
                    type="button"
                    disabled=""
                    title="delete"
                    id="pw_clear"
                    class="wrg"
                    style="display: block;"
                  >
                    <span class="blind">삭제</span>
                  </button>
                  <div class="ly_v2" id="err_capslock" style="display: none;">
                    <div class="ly_box">
                      <p><strong>Caps Lock</strong>이 켜져 있습니다.</p>
                    </div>
                    <span class="sp ly_point"></span>
                  </div>
                </div>
                <div
                  class="error"
                  role="alert"
                  id="err_empty_pw"
                  style="display: none;"
                >
                  비밀번호를 입력해주세요.
                </div>
                <div class="btn_login">
                  <input
                    type="submit"
                    title="로그인"
                    alt="로그인"
                    value="로그인"
                    class="btn_global on"
                    id="log.login"
                  />
                </div>

                <div class="find_info">
                  <a target="_blank" id="idinquiry" href="/아이디찾기"
                    >아이디 찾기</a
                  >
                  <span class="bar" aria-hidden="true">|</span>
                  <a target="_blank" id="pwinquiry" href="/비밀번호찾기"
                    >비밀번호 찾기</a
                  >
                  <span class="bar" aria-hidden="true">|</span>
                  <a target="_blank" id="join" href="/join">회원가입</a>
                </div>
              </div>
            </fieldset>
            <fieldset
              class="id_form"
              id="bottomside_panel"
              style="display: none;"
            ></fieldset>
          </form>
          <!-- tg-lang -->
        </div>
        <!-- //content -->
      </div>
      <!-- //container -->
      <!-- footer -->
    </div>

    <input
      type="hidden"
      id="id_error_msg"
      name="id_error_msg"
      value="아이디를 입력해주세요."
    />
    <input
      type="hidden"
      id="pw_error_msg"
      name="pw_error_msg"
      value="비밀번호를 입력해주세요."
    />
    <input type="hidden" id="ncaptchaSplit" name="ncaptchaSplit" value="none" />
    <input
      type="hidden"
      id="appsession"
      name="appsession"
      value="prQBMsctwiPDDGF8M8u0XvyMzDmf8Wsv"
    />
    <input type="hidden" id="locale" name="locale" value="ko_KR" />

    <div id="nv_stat" style="display: none;">20</div>
  </body>
</html>
